<!-- <div class="hero" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0, #fff 90%), url({{"/images/" | prepend: site.baseurl | append : site.hero}})"> -->
<div class="hero" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0, #fff 100%), url({{"/images/" | prepend: site.baseurl | append : site.hero}})">
<!-- https://pic3.zhimg.com/80/v2-610c797a92a5db443d2736061c2299a6_720w.jpg -->
  <div class="hero-content">
    <h3 class="hero-title">{% if site.hero-title %}{{site.hero-title}}{% else %} <span> </span>{% endif %}</h3>
    <div class="hero-description">{% if site.hero-description %}{{site.hero-description}}{% else %} {% endif %}</div>
  </div>
</div> <!-- /.hero -->
